<div class="foot">
    <a href=""class="content"> &copy;WanderLust Pvt. Limited</a>
    <div class="icons">
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-square-reddit"></i></a>
        <a href=""><i class="fa-brands fa-square-github"></i></a>
    </div>
    <a href="" class="content">Company Policies</a>
</div>
